/* .Workorder__close-order {
  padding: 10px 15px;
  background: var(--blue);
  color: var(--white);
  border: var(--blue) solid 2px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 9999px;
  text-align: center;
  letter-spacing: 2px;
  width: 25%;
  outline: none;
  margin-top: 10px;
}

.Workorder__close-order:hover {
  color: var(--blue);
  background: var(--white);
} */
