.Property-container {
  border: none;
  color: var(--black);
  background-color: var(--white);
  height: 100%;
  display: flex;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

.Property {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.Property-name {
  color: var(--dark-gray);
  text-transform: uppercase;
  margin-bottom: 3px;
}

.Property__border__bottom {
  border-bottom: 5px solid var(--light-blue);
  width: 15%;
}

.Property__address {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0;
  line-height: 4.5rem;
}

.Property__info__section {
  margin-right: 50px;
}

.Property__info__header {
  font-size: 0.5rem;
  font-weight: 900;
  color: var(--light-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Proprty__info__number {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.Property__photo {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding-right: 20px;
}
