.EditUnit__link {
  cursor: pointer;
}

.EditUnit__td-buttons {
  padding: 0;
  position: relative;
}

.EditUnit__buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.EditUnit__button {
  flex: 1;
  background: var(--white);
  border: none;
  color: var(--light-black);
  transition: all 50ms linear;
}
.EditUnit__button:hover {
  background: var(--light-black);
  color: var(--white);
}
