/* .Metrics {
  display: flex;
}

.Metrics__info-expenses,
.Metrics__info-value,
.Metrics__info-income {
  width: 200%;
  margin-bottom: 5px;
  border: 7px solid var(--light-black);
  background: var(--white);
}

.Metrics__symbol--expense {
  width: 250px;
  margin-bottom: 15px;
  color: var(--light-black);
}

.Metrics__info-title {
  padding: 5px;
  color: var(--light-black);
  margin-bottom: 20px;
  border-bottom: 7px solid var(--light-black);
}

.Metrics__info-numbers {
  color: var(--light-black);
  padding-bottom: 5px;
} */

.Metrics {
  display: flex;
}

.Metrics__info-title {
  text-align: left;
  font-size: 0.5rem;
  font-weight: 900;
  color: var(--light-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Metrics__info-numbers {
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
