.Settings__title {
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-left: 5px solid var(--light-blue);
  padding-left: 5px;
}

.Settings-form {
  grid-area: content;
  padding: 25px;
  border: none;
  color: var(--black);
  background-color: var(--white);
  height: 100%;
  display: flex;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

.Settings__label {
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--light-black);
}

.Settings__label-text {
  padding-left: 10px;
}

.Settings__input {
  background: #fff;
  border: 1px solid var(--gray);
  border-radius: 9999px;
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.Settings__input.Settings__input--disabled {
  background: var(--white);
  color: var(--dark-gray);
}

.Settings__input:focus {
  border: 1px solid var(--blue);
}

.Settings__btn-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.Settings__button {
  padding: 10px 15px;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 9999px;
  text-align: center;
  letter-spacing: 2px;
  width: 50%;
  outline: none;
  margin-top: 15px;
  transition: all 100ms linear;
}

.Settings__button.Settings__button--edit {
  border: var(--blue) solid 2px;
  background: var(--blue);
}

.Settings__button.Settings__button--archive {
  border: var(--red) solid 2px;
  background: var(--red);
}

.Settings__button.Settings__button--edit:hover {
  color: var(--blue);
}

.Settings__button.Settings__button--archive:hover {
  color: var(--red);
}

.Settings__button:hover {
  background: var(--white);
}
