.NewUnit {
  /* display: grid; */
  /* grid: auto-flow / 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
.NewUnit__input {
  text-align: center;
  margin: 0 auto;
}
.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  background: rgba(34, 50, 84, 0);
  border-radius: 50%;
  transition: all 0.2s ease;
}
.check:hover:before {
  background: rgba(34, 50, 84, 0.05);
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #9098a9;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
#cbx:checked + .check:hover:before {
  background: rgba(0, 119, 255, 0.05);
}
#cbx:checked + .check svg {
  stroke: #07f;
}
#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.4s linear;
}
#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}
