.Dashboard {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 'sidebar body';
  grid-template-rows: 1fr;
  grid-template-columns: 200px 1fr;
}

.Dashboard__nav {
  grid-area: sidebar;
  width: 200px;
  height: 100%;
  position: fixed;
  background: var(--black);
  display: flex;
  flex-direction: column;
  outline: none;
}

.Dashboard__logo {
  width: 80%;
  margin: 20px;
  position: absolute;
  bottom: 0;
}

.Dashboard__body {
  grid-area: body;
  background: var(--white);
}

.Dashboard__link {
  text-align: right;
  align-self: flex-end;
  color: var(--dark-gray);
  font-size: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  transition: all 100ms linear;
  font-family: var(--font);
}

.Dashboard__link:hover {
  border-right: 3px solid var(--blue);
  padding-left: 3px;
  background-color: var(--light-black);
  color: var(--white);
}

.Dashboard__link--active {
  border-right: 3px solid var(--blue);

  color: var(--white);
}

.Dashboard__link.Dashboard__link--back {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--light-black);
  color: var(--gray);
}
.Dashboard__link.Dashboard__link--back:hover {
  border: none;
  border-color: var(--blue);
  color: var(--white);
  padding: 20px;
}

.Dashboard__link--back .Dashboard__symbol--back {
  margin-right: 20px;
  transition: all 100ms ease-in-out;
}
.Dashboard__link--back:hover .Dashboard__symbol--back {
  margin-right: 30px;
}
