.OwnerRegistration {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  background-color: var(--white);
}

.logo-container-owner-reg {
  width: 35vw;
  height: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.OwnerRegistration__logo {
  width: 100%;
  object-fit: cover;
}

.login-container {
  height: 75%;
  align-self: center;
  margin: 2em;
  padding: 135px;
}

.ownerRegistration-header {
  padding: 20px;
  margin-top: -80px;
}

.OwnerRegistration__input {
  background: var(--white);
  border: 1px solid var(--gray);
  width: 300px;
  border-radius: 9999px;
  padding: 8px 15px;
  font-size: 14px;
  margin: 5px 0;
  outline: none;
}

.OwnerRegistration-button {
  background: var(--blue);
  color: var(--white);
  border: var(--blue) solid 3px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 100px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 0 60px;
  margin: 5px;
}
.registration-submit-policy {
  font-size: 10px;
  padding: 10px;
}
