.AddResident {
  display: flex;
  flex-direction: column;
}

.AddResident__header {
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-left: 5px solid var(--light-blue);
  padding-left: 5px;
}

.AddResident__warning {
  margin-top: 5px;
  align-self: flex-start;
  font-size: 0.6rem;
}

.AddResident__form {
  grid-area: content;
  padding: 25px;
  border: none;
  color: var(--black);
  background-color: var(--white);
  height: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}

.AddResident__label {
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--light-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AddResident__label-text {
  padding-left: 10px;
}

.AddResident__input {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 9999px;
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  outline: none;
  width: 50%;
}

.AddResident__input:focus {
  border: 1px solid var(--blue);
}

.AddResident__btn {
  padding: 10px 15px;
  background: var(--blue);
  color: var(--white);
  border: var(--blue) solid 2px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 9999px;
  text-align: center;
  letter-spacing: 2px;
  width: 30%;
  outline: none;
  margin-top: 15px;
  transition: all 100ms linear;
}

.AddResident__btn:hover {
  color: var(--blue);
  background: var(--white);
}
