.Properties {
  display: flex;
  margin: 0 auto;
  padding-left: 250px;
}

.Properties-navbar {
  background: var(--black);
  position: fixed;
  left: 0;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.Properties__welcome {
  padding: 20px;

  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  color: var(--gray);
  background: var(--white);
}

.Properties__welcome-name {
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: var(--gray);
}

.Properties-navbar-header {
  width: 100%;
  padding: 40px 0;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2rem;
  background-color: var(--blue);
}

.Properties__button {
  align-self: flex-end;
  color: var(--white);
  font-size: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  letter-spacing: 1px;
  transition: all 100ms linear;
}
.Properties__button:hover {
  background: var(--blue);
}

.Properties__button--add {
  color: var(--white);
}

.Properties__logo {
  width: 80%;
  position: absolute;
  bottom: 40px;
  object-fit: cover;
  align-self: center;
  margin: 15px 0 0;
}

.Properties__all {
  display: grid;
  grid: auto-flow / repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  padding: 20px;
  grid-gap: 15px;
}

.Property-card {
  margin: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0, 0.4);
  border: none;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
}

.Properties__name {
  padding: 20px;
}

.Properties__photo {
  display: block;
  border: none;
  height: 300px;
  width: 100%;
  background-color: var(--white);
  object-fit: cover;
}

.Property-card:hover .Properties__photo:after {
  opacity: 1;
  transform: scale(1);
}

.Properties-imageOverlay {
  position: absolute;
  display: block;
  color: var(--black);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: var(--gray);
  background-size: 50px 50px;
  opacity: 0;
  transition: all 0.3s;
  padding-top: 85px;
}

.Property-card:hover .Properties-imageOverlay {
  opacity: 0.8;
}
