@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

:root {
  --black: #292929;
  --light-black: #343434;
  --white: #f3f3f3;
  --blue: #2796d6;
  --light-blue: #47a6dd;
  --gray: rgb(193, 193, 193);
  --dark-gray: #848484;
  --red: #ff6b6b;
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  --font: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --font-second: 'Roboto Condensed', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

::selection {
  background: var(--light-blue);
  color: var(--light-black);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
div {
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

table {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  /* border-collapse: separate; */
  width: 100%;
  table-layout: fixed;
  font-size: 18px;
}

table,
td,
th {
  border: 1px solid var(--gray);
  text-align: center;
}

th {
  text-transform: uppercase;
}

th,
td {
  padding: 15px;
}

td {
  color: var(--light-black);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
}

.Link__none {
  text-decoration: none;
}

table {
  opacity: 1;
  animation: fadeIn 0.5s ease;
  table-layout: fixed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
