.CreateWorkorder-title {
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-left: 5px solid var(--light-blue);
  padding-left: 5px;
}

button.CreateWorkorder-button {
  padding: 10px 15px;
  background: var(--blue);
  color: var(--white);
  border: var(--blue) solid 2px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 9999px;
  text-align: center;
  letter-spacing: 2px;
  width: 250px;
  outline: none;
  margin-top: 10px;
  margin-left: 16rem;
}

textarea#exampleFormControlTextarea1 {
  width: 600px;
  height: 240px;
  font-size: 0.8rem;
  border: none;
  padding: 15px;
  font-family: var(--font);
  border-radius: 15px;
  resize: none;
  margin-top: 5px;
}

.CreateWorkorder__label-1 {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: -15px;
}

.CreateWorkorder__label-2 {
  font-size: 0.7rem;
}

.CreateWorkorder__text {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
}
